.wrapper-favorites {
  padding-top: 3.4375rem;
  background-color: $secondaryBgColor;
}
.favorites {
  position: relative;
  text-align: center;
  &__heading {
    margin-bottom: 2.1875rem;
  }

  &__tabs {
    &--btn {
      height: 3.25rem;
      width: 20%;
      padding: 0.5rem 0.5rem 1rem;
      border: none;
      background-color: $secondaryBgColor;
      transition: all 200ms ease-in-out;
    }
    &--content {
      text-align: center;
      background-color: $bgColor;
      .content-image img {
        display: block;
        width: 100%;
        // border: 1px solid red;
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;
      }
      .content-heading {
        margin-bottom: 1.375rem;
      }
      .content-desc {
        font-size: $verySmallFont;
        padding-bottom: 3rem;
      }
    }
  }
  &__underline {
    height: 4px;
    background-color: $mediumJungleGreen;
    width: 20%;
    transition: all 400ms ease-in-out;
  }
}
