// Primary

$jungleGreen: #1e3932;
$mediumJungleGreen: #008248;
$chineseWhite: #e9d4db;
$bgColor: #d4e9e1;

// Neutral

$cultured: #f8f1f3;
$alabaster: #f3f1e7;
$black: #000000;
$secondaryBgColor: #f1f8f6;

// Typography

// Body Copy

$bodyFont: 1.1875rem;
$smallFont: 1rem;
$verySmallFont: 0.875rem;
